{% extends 'Principal/base.html' %}

{% block title %}Clientes{% endblock title %}

{% block content %}
<h1>Usuarios</h1>
<hr>
<div class="col-12">
  <div class="card">
    <div class="card-header row text-white bg-primary justify-content-between">
          <div class="col-9">
              <h4>Lista de clientes</h4>
          </div>
              <a onclick="return abrir_modal('{% url 'clientes:crear' %}')" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Añadir cliente</span></a>			         
    </div>  
    </div>

    <div class="card-body">
        {% if not cliente %}
        <h4>NO HAY CLIENTES CREADOS</h4>
        {% else %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Email</th>
                  <th>Ciudad</th>
                  <th>Comuna</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for cli in cliente %}
                <tr>
                   
                    <td>{{cli.id}}</td>
                    <td>{{cli.nombre}}</td>
                    <td>{{cli.direccion}}</td>
                    <td>{{cli.email}}</td>
                    <td>{{cli.ciudad}}</td>
                    <td>{{cli.comuna}}</td>
                    <td><a  onclick="return abrir_modal('{% url 'clientes:modificar' cli.pk %}')" class="btn" ><i class="material-icons" data-toggle="tooltip" title="Edit" style="color:#FFC107;">&#xE254;</i></a>
                        <a  onclick="return abrir_modal('{% url 'clientes:eliminar' cli.pk %}')" class="btn" ><i class="material-icons" data-toggle="tooltip" title="Delete" style="color: #F44336;">&#xE872;</i></a></td>
                    
                    
                    
                    {% endfor %}
                    
                </tr>
              </tbody>
            </table>
          </div>
        {% endif %}
        <div id="popup" class="modal fade" role="dialog">
    
      </div>
    </div>
  </div>
</div>
<script>
  function abrir_modal(url)
    {
            $('#popup').load(url, function()
            {
                    $(this).modal('show');
            });
            return false;
    }
    
    function cerrar_modal()
    {
            $('#popup').modal('hide');
            return false;
    }
</script> 
{% endblock content %}
    
    



